body{
	background-color: #f2f2f2;

}

#profilephoto{
    width: 100%;
    border-radius: 50%;
    padding: 40px 0px;
}

h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 6px;
    text-transform: uppercase;
}

#sidebar{
    background-color: #ffffff;
    box-shadow: #ccd2d9 0px 0px 50px 3px;
    margin-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

#dados{
    padding: 30px;
}

#subtitulo{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
    opacity: 0.7;
}

.profile-usermenu{
    padding: 0px 0px 10px 20px;
}

li{
    font-family: 'Josefin Sans', sans-serif;
    margin: 5px 0px;
    opacity: 0.8;
     color: #000000;
}

i{
    color: #000000;
    margin-right: 28px;
    opacity: 0.5;
}

.progress {
    height: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    overflow: hidden;
    background-color: #dcdcdc;
    border-radius: 28px;
    border-bottom: 23px black;
    -webkit-box-shadow: inset 0px 0px 0px rgba(0,0,0,.1);
    box-shadow: inset 0px 0px 0px rgba(0,0,0,.1);
}

#skills{
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 7px;
}

#porcent{
    letter-spacing: 5px;
    font-size: 10px;
    margin: -1px;
}

.Hab{
    margin: 0px 0px;
    opacity: 0.5;
}

hr{

    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0px 30px 0px;
}

#header{
    font-family: 'Hammersmith One', sans-serif;
    margin: 30px 10px;
    opacity: 0.5;
}

#filter{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    opacity: 0.3;
}

#headerphoto{
    width: 110%;
    position:absolute;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
    margin:auto;
    filter: blur(8px);
}


#avatarheader{
    width: 18%;
    z-index: 9;
    position: absolute;
    border-radius: 100px;
    top: 12%;
    bottom: 0;
    left: 40%;
    right: 0;
    box-shadow: 0px 0px 30px 6px grey;
}

#avatarname{
    position: absolute;
    font-size: 15px;
    letter-spacing: 15px;
    top: 63%;
    text-transform: uppercase;
    right: 0;
    left: 35%;
    bottom: 0;
    font-weight: 700;
}

#headericons{
    color: white;
    position: absolute;
    top: 78%;
    bottom: 0;
    margin: auto;
    right: 0;
    left:32%;
    z-index: 9;
}

.opacity{
    opacity: 1.0 !important;
}

.projeto{
    width: 100%;
    height: 100%;
}

.bgprojetos{
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    width: 87%;
    height: 300px;
    margin: 20px 15px 20px 15px;
    /* padding: 0px 0px 0px 0px; */
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
}

.titulo{
    margin: auto;
    padding: 20px 20px 0px 20px;
    color: white;
    font-size: 25px;
    font-family: 'Hammersmith One', sans-serif;
    text-transform: none;
    letter-spacing: normal;
    font-weight: normal;
}

.subtitulotag{

    margin: 0px 20px;
    color: white;
    opacity: 0.8;
}

.card {
  position: relative;
  float: left;
  padding-bottom: 25%;
  width: 100%;
  text-align: center;
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.card__front {
  background-color: transparent;
}

.card__back {
  background-color: transparent;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__random.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__random.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

#resume{
    background-color: white;
    box-shadow: #ccd2d9 0px 0px 50px 3px;
    margin-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;

}

.ulresume{
    margin: 40px 0px 40px 0px;
    padding-left: 10px;
    }

.descricao{
    margin: 20px 50px;
}

.titulosresume{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.titulojob{
    margin: auto;
    padding: 0px 0px 20px 0px;
    font-size: 20px;
    font-family: 'Hammersmith One', sans-serif;
    text-transform: none;
    letter-spacing: normal;
    font-weight: normal;
}

.uldatajob{
    margin-bottom: 20px;
}

.text{
    text-align:justify;
}

.icon{
    margin-left: 30px;
}

.centerbutton{
    margin: 0px 70px;
}